html body{
    height: 100%;
    width: 100%;
    margin:0;
}
#container-modulo2{
    background-color: #f7c80b;
    margin: 0;
    width: 100%;
    position: relative;
}
#container-modulo2 .marca{
     float:left;
     font-size: 36px;
     text-transform: full-width;
     font-weight: bold;
     padding-left: 90px;
    line-height: 100px;
    color: #000000;
    padding-top: 0;
    padding-bottom: 0;
 }
#container-modulo2 .navbar-nav li a {
    line-height: 100px;
    color: #3c3d41;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#container-modulo2 .navbar-nav li a:hover {
    color: #a8a8a8;
    background: none;
}
#container-modulo2 .navbar-nav li a:focus {
    background: none;
}
#container-modulo2 .navbar-nav li a:active {
    background: none;
}
#container-modulo2 .logo{
    max-width: 300px;
    max-height: 100px;
    padding: 15px;
    margin-left: -15px;
}
#container-modulo2 .padleft0{
    padding-left: 0!important;
}
#container-modulo2 .padright0{
    padding-right: 0!important;
}
#container-modulo2 .cabecera{
    /* padding-top: 2%;
     padding-bottom: 2%;*/
    padding-left: 0;
    padding-right: 0;
    background-color: white;

 }
#container-modulo2 .menu-section{
   /* min-height: 181px;*/
    min-height: 100px;
    background-color: #fff;
    /*float: left;*/
    height: auto;
    z-index: 10;
    width: 100%;
}
#container-modulo2 .imagen{
    align-content: center;
    padding-right: 0;
    horiz-align: center;
}
#container-modulo2 .imagen img{
    height: 100%;
}
#container-modulo2 .ultext{
    text-transform: uppercase;
    font-weight: bold;
}
#container-modulo2 ul{
   padding-right: 8%;
}
#container-modulo2 .contenido{
    vertical-align: middle;
    margin-top:10%;
    min-height: 100%;
    height: 100%;

}
#container-modulo2 .titulo{
    font-size: 50px;
    text-transform: full-width;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
}
#container-modulo2 .parrafo{
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 50px;
    margin-bottom: 50px;
    line-height: 27px;
    white-space: pre-line;
}
#container-modulo2 .cuerpo{
    margin-left: 5%;
    margin-right: 0;
}
#container-modulo2 .linkvideo-play{
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 50px;
    font-weight: bold;
}
#container-modulo2 .playsimbol{
    font-size: 42px;
    color: black;
    background-color: #FFFFFF;
    border-radius: 100%;
    height: 37px;
    width: 37px;
    line-height: 37px;
}
#container-modulo2 .linkvideo-play a{
    color: #FFFFFF;
}
#container-modulo2 .tiempovideo{
    font-size: 18px;
    font-weight: lighter;
    color: #FFFFFF;
}
#container-modulo2 .navbar-header [class*="icon-bar"] {
    background-color: black;

}
@media (max-width: 767px) {
    #container-modulo2 #bs-navbar {
        padding: 0;
        -webkit-transition: none;
        transition: none;
    }
    #container-modulo2 .navbar-nav > li > a {
        padding: 0;
    }
    #container-modulo2 .navbar-nav {
        margin-top: 15px!important;
    }
}
@media (min-width: 768px) {

    #container-modulo2 .navbar-nav > li > a {
        padding-top: 0;
        padding-bottom: 0;
    }
    #container-modulo2 .navbar-brand  {
        height: 100px;
    }
}
@media (max-width: 500px) {
    #container-modulo2 .marca {
        font-size: 25px;
        padding-left: 50px;
        line-height: 50px;
        margin-top: 10px;
    }
    #container-modulo2 .navbar-nav li a {
        line-height: 50px!important;
    }
    #container-modulo2 .navbar-toggle {
        position: relative;
        float: right;
        margin-right: 0;
        padding: 9px 10px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    #container-modulo2 .contenido {
        margin-top: 20px;
    }
    #container-modulo2 .titulo {
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 60px;
    }
    #container-modulo2 .parrafo {
        margin-right: 0;
        margin-bottom: 13px;
        font-size: 16px;
    }
    #container-modulo2 .linkvideo-play{
        font-size: 18px;
    }
    #container-modulo2 .tiempovideo{
        font-size: 16px;
    }
    #container-modulo2 .imagen img{
        height: auto;
    }
    #container-modulo2 .logo{
        max-width: 150px;
        max-height: 56px;
        margin-left: 0;
        padding: 0;
        padding-top: 15px;
    }
    #container-modulo2 .menu-section{
        min-height: 80px;
    }


}
@media (max-width: 767px) and (min-width: 501px){
    #container-modulo2 .marca {
        font-size: 30px;
        padding-left: 60px;
        line-height: 50px;
        margin-top: 10px;
    }
    #container-modulo2 .navbar-nav li a {
        line-height: 50px!important;
    }
    #container-modulo2 .contenido {
        vertical-align: middle;
        margin-top: 50px;
    }
    #container-modulo2 .titulo {
        font-size: 45px;
        margin-bottom: 20px;
        margin-top: 60px;
    }
    #container-modulo2 .parrafo {
        margin-right: 0;
        margin-bottom: 13px;
        font-size: 17px;
    }
    #container-modulo2 .linkvideo-play{
        font-size: 22px;
        font-weight: bold;
    }
    #container-modulo2 .tiempovideo{
        font-size: 17px;
        font-weight: lighter;
    }
    #container-modulo2 .imagen img{
        height: auto;
    }
    #container-modulo2 .logo{
        max-width: 160px;
        max-height: 75px;
        margin-left: 0;
        padding: 0;
        padding-top: 15px;
    }
    #container-modulo2 .menu-section{
        min-height: 100px;
    }
}
@media (max-width: 992px) and  (min-width: 768px){
    #container-modulo2 .contenido {
        vertical-align: middle;
        margin-top: 10%;
    }
    #container-modulo2 .titulo {
        font-size: 55px;
        margin-bottom: 20px;
        margin-top: 25px;
    }
    #container-modulo2 .parrafo {
        margin-right: 0;
        margin-bottom: 13px;
        font-size: 17px;
    }
    #container-modulo2 .linkvideo-play{
        font-size: 22px;
    }
    #container-modulo2 .tiempovideo{
        font-size: 17px;
        font-weight: lighter;
    }
    #container-modulo2 .logo{
        max-width: 200px;
        max-height: 100px;
        padding: 5px;
        padding-top: 15px;
    }
    #container-modulo2 .menu-section{
        min-height: 100px;
    }
    #container-modulo2 .navbar-nav li a {
        line-height: 100px;
    }
    #container-modulo2 .marca {
        line-height: 50px;
    }


}

