#container-modulo_c_news_url{
    background-color: #e9eaeb;
    margin: 0;
    width: 100%;
}
#container-modulo_c_news_url .contenido{
    margin-bottom: 80px;
    margin-top: 80px;
}
#container-modulo_c_news_url .noticia-box{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
}
#container-modulo_c_news_url .noticia{
    background-color: #333;
    padding: 0;
}

#container-modulo_c_news_url .container-texto{
    padding: 40px;
    height: 100%;
}
#container-modulo_c_news_url .textos{
    padding: 0 30px 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;

}
#container-modulo_c_news_url .noticia img{
    width: 100%;
    margin: 0;
}
#container-modulo_c_news_url .titulo{
    color: #233f88;
    font-size: 26px;
    font-family: 'ClanPro-Medium', sans-serif!important;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
}
#container-modulo_c_news_url .titulo-noticia{
    color: #fff;
    font-family: 'ClanPro-News', sans-serif!important;
    font-size: 16px;
    text-align: left;
    line-height: 16px;
}
#container-modulo_c_news_url .parrafo{
    color: #FFFFFF;
    font-family: 'ClanPro-News', sans-serif!important;
    font-size: 10px;
    text-align: justify;
    padding-bottom: 20px;
    padding-top: 10px;
    line-height: 12px;
    white-space: pre-line;
}
#container-modulo_c_news_url .titulo-noticia.active{
    line-height: 16px;
    color: #000;
}
#container-modulo_c_news_url .parrafo.active{
    border: 0;
    margin-top: 10px;
     color: #000;
}
#container-modulo_c_news_url .texto-activo{
    overflow-y: scroll;
    height: 100%;
     color: #000;

}
#container-modulo_c_news_url .noticia-activa img{
    width: 100%;
}
#container-modulo_c_news_url .read-more{
    color: #333;
    background-color: #FFFFFF;
    font-family: 'ClanPro-News', sans-serif!important;
    font-size: 10px;
    line-height: 25px;
    text-align: left;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}
#container-modulo_c_news_url .btn-back-home{
    margin-top: 8%;
}
#container-modulo_c_news_url .btn-mas-noticias{
    border: 2px solid #333;
    background-color: #333;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'ClanPro-Book', sans-serif!important;
    text-align: center;
    padding: 8px 30px 8px 30px;

}
#container-modulo_c_news_url .edicion{
    position: absolute;
    top: 0;
    color:#fff;
    background-color:rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    line-height:100px;
    text-align: center;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#container-modulo_c_news_url .edicion:hover{
    opacity: 1;
}
#container-modulo_c_news_url .texto-activo::-webkit-scrollbar {
    width: 50px;
    background: transparent;
}
#container-modulo_c_news_url .texto-activo::-webkit-scrollbar-button {

}
#container-modulo_c_news_url .texto-activo::-webkit-scrollbar-thumb {
    background: transparent;
}
#container-modulo_c_news_url .texto-activo::-webkit-scrollbar-track {
    background: transparent;
}
#container-modulo_c_news_url .texto-activo::-webkit-scrollbar-button:vertical:increment {
    background-image: url('../img/arrow-scroll-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

#container-modulo_c_news_url .texto-activo::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('../img/arrow-scroll-up.png');
    background-repeat: no-repeat;
    background-position: center;
}
#container-modulo_c_news_url .news-box{
    /*padding: 0;
    margin-left: -15px;
    margin-right: -15px;*/
}
#container-modulo_c_news_url .noticia-img{
    padding: 0;
}
@media (max-width: 767px)
{
    #container-modulo_c_news_url .noticia{
        margin-bottom: 15px;
    }
    #container-modulo_c_news_url .contenido{
        margin-bottom: 40px;
        margin-top: 40px;
    }
}
@media (max-width: 270px){
    #container-modulo_c_news_url .titulo{
        font-size: 20px;
    }

}
@media (min-width: 768px){
    #container-modulo_c_news_url .noticia-activa{
        height: 500px;
    }
    #container-modulo_c_news_url .noticia-img{
        height: 100%;
        overflow: hidden;
    }
}