hhtml body{
    height: 100%;
    width: 100%;
    margin:0;
}
#container-modulo_c_categorias2{
    margin: 0;
    width: 100%;
    background-color: white;
}
#container-modulo_c_categorias2 .container{
    background: #283747;
    width: 100% !important;
    padding: 0 !important;
}
#container-modulo_c_categorias2 .contenido{
    padding-top:150px;
    padding-bottom: 150px;
    position: relative;
}
#container-modulo_c_categorias2 .titulo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
#container-modulo_c_categorias2 .subtitulo{
    color: yellow;
    align-content: center;
    font-size: 28px;
    text-align: right;
    margin-bottom: 25px;
    padding: 64px 0px;

}
#container-modulo_c_categorias2 .img-item{
    width: 100%;
}
#container-modulo_c_categorias2 .item{
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #fff;
}
#container-modulo_c_categorias2 .name{
    color: white;
    align-content: center;
    font-size: 17px;
    text-align: center;
    margin-bottom: 25px;
    padding: 17px 0px 5px 0px;
}
#container-modulo_c_categorias2 .fondo-principal{
    background: url(img/fondo.jpg) no-repeat;

}
#container-modulo_c_categorias2 .fondo-superior{
    background: white;
    padding: 79px 76px 314px 500px;
    -webkit-clip-path: polygon(15px 0, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
    clip-path: polygon(568px 0, 100% 0%, calc(100% - 0px) 100%, 0% 100%);
    z-index: 999;
    top: 0;
}
#container-modulo_c_categorias2 .fondo-inferior{
    background: #F1C40F;
    padding: 300px 0px;
    -webkit-clip-path: polygon(900px 0, 100% 0%, calc(100% - -2px) 136%, -77% 86%);
    clip-path: polygon(897px -1, 100% 0%, calc(100% - 0px) 100%, 0% 100%);
    z-index: 999;
    margin-top: -293px;
}
#container-modulo_c_categorias2 .close{
    margin-top: -56px;
    margin-right: -48px;
    color: #17202A;
    background: white;
    width: 25px;
    height: 25px;
    line-height: 25px;
}
#container-modulo_c_categorias2 .boton{
    background: transparent;
}
#container-modulo_c_categorias2 .mod-titulo{
    color: black;
    font-size: 46px;
    text-align: center;
    margin-bottom: 3px;
    margin-right: -104px;
}
#container-modulo_c_categorias2 .mod-subtitulo{
    color: black;
    font-size: 41px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 7px;
    margin-right: -104px;
}
#container-modulo_c_categorias2 .li-titulo{
    align-content: center;
    text-align: justify;
    font-size: 21px;
    font-weight: bold;
    padding: 21px 9px;
    list-style: url(img/icono.png);
}
#container-modulo_c_categorias2 .li-vi{
    color: black;
    font-size: 18px;
    list-style: url(img/icono2.png);
    padding: 3px 9px;
}
#container-modulo_c_categorias2 .item-nombre h3{
    font-size: 35px;
    font-weight: bold;

    text-align: center;
    line-height: 25px;
}
#container-modulo_c_categorias2 .item-nombre{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color:yellow;
}
#container-modulo_c_categorias2 .item-nombre:hover{
    cursor: pointer;
    color:black;
    background-color: rgba(210, 210, 210, 0.6);
}

@media (max-width: 260px){
    #container-modulo_c_categorias2 .titulo{
        font-size: 20px;
        padding-top: 50px;
    }
}
@media (max-width: 364px) and (min-width: 261px){
    #container-modulo_c_categorias2 .titulo{
        font-size: 30px;
        padding-top: 50px;
    }
}
@media (max-width: 768px) and (min-width: 365px){
    #container-modulo_c_categorias2 .titulo{
        font-size: 35px;
        padding-top: 50px;
    }
}
#container-modulo_c_categorias2 .youtube-container { 
    display: block; 
    margin: 0 auto;
    width: 100%;
    position: absolute;
    z-index: 999;
    bottom: 174px;
    padding: 0PX 178PX;
}
img.youtube-thumb { 
    bottom: 0; 
    display: block; 
    left: 0; 
    margin: auto; 
    max-width: 100%; 
    width: 100%; 
    position: absolute; 
    right: 0; 
    top: 0; 
    height: auto 
}
div.playsimbol { 
    height: 72px; 
    width: 72px; 
    left: 50%; 
    top: 50%; 
    margin-left: -36px; 
    margin-top: -36px; 
    position: absolute; 
}
#youtube-iframe { 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
}
#container-modulo_c_categorias2 .btn-container { 
    position: absolute;
    z-index: 999;
    bottom: 38px;
    padding: 40px 400px;
}
#container-modulo_c_categorias2 .btn { 
    position: absolute;
    background: transparent;
    border-color: black;

}