#container-modulo_c_news_url_abstract{
    background-color: #e9eaeb;
    margin: 0;
    width: 100%;
}
#container-modulo_c_news_url_abstract .contenido{
    margin-bottom: 80px;
    margin-top: 80px;
}
#container-modulo_c_news_url_abstract .noticia-box{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    position: relative;
}
#container-modulo_c_news_url_abstract .noticia{
    background-color: #333;
    padding: 0;
}
#container-modulo_c_news_url_abstract .container-texto{
    padding: 40px;
    height: 100%;
}
#container-modulo_c_news_url_abstract .noticia-img{
    padding: 0;
}
#container-modulo_c_news_url_abstract .edicion{
    position: absolute;
    top: 0;
    color:#fff;
    background-color:rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    line-height:100px;
    text-align: center;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#container-modulo_c_news_url_abstract .edicion:hover{
    opacity: 1;
}
#container-modulo_c_news_url_abstract .textos{
    padding: 0 30px 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#container-modulo_c_news_url_abstract .noticia img{
    width: 100%;
    margin: 0;
}
#container-modulo_c_news_url_abstract .titulo{
    color: #233f88;
    font-size: 26px;
    font-family: 'ClanPro-Medium', sans-serif!important;
    text-align: center;
    margin-bottom: 5%;
}
#container-modulo_c_news_url_abstract .titulo-noticia{
    line-height: 10px;
    color: #FFFFFF;
    font-family: 'ClanPro-News', sans-serif!important;
    font-size: 16px;
    text-align: left;
}
#container-modulo_c_news_url_abstract .parrafo{
    color: #FFFFFF;
    font-family: 'ClanPro-News', sans-serif!important;
    font-size: 10px;
    text-align: left;
    /*border-bottom: 1px solid white;*/
    padding-bottom: 20px;
    padding-top: 10px;
    line-height: 12px;
    white-space: pre-line;
}
#container-modulo_c_news_url_abstract .read-more{
    color: #333;
    background-color: #FFFFFF;
    font-family: 'ClanPro-News', sans-serif!important;
    font-size: 10px;
    line-height: 25px;
    text-align: left;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}
#container-modulo_c_news_url_abstract .btn-mas{
    margin-top: 8%;
}
#container-modulo_c_news_url_abstract .btn-ver-mas{
    border: 2px solid #333;
    background-color: #333;
    color: white;
    font-size: 14px;
    font-family: 'ClanPro-Book', sans-serif!important;
    text-align: center;
    padding: 8px 30px 8px 30px;

}
@media (max-width: 767px)
{
    #container-modulo_c_news_url_abstract .noticia{
        margin-bottom: 15px;
    }
    #container-modulo_c_news_url_abstract .contenido{
        margin-bottom: 40px;
        margin-top: 40px;
    }
}
@media (max-width: 270px){
    #container-modulo_c_news_url_abstract .titulo{
        font-size: 20px;
    }

}
@media (min-width: 768px){
    #container-modulo_c_news_url_abstract .noticia-activa{
        height: 500px;
    }
    #container-modulo_c_news_url_abstract .noticia-img{
        height: 100%;
        overflow: hidden;
    }
}