html body{
    height: 100%;
    width: 100%;
    margin:0;
}
#container-modulo_contact2{
    margin: 0;
    width: 100%;
}
#container-modulo_contact2 .container{
    width: 100% !important;
    padding: 0 !important;
}
#container-modulo_contact2 .contacto{
    padding-top: 6%;
}
#container-modulo_contact2 .titulo{
    color: #000;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3%;
}
#container-modulo_contact2 .subtitulo{
    color: #8f9496;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: -20px;
    padding-top: 5%;
}
#container-modulo_contact2 .parrafo{
    color: #b9b9b9;
    font-size: 16px;
    text-align: center;
    white-space: pre-line;
    line-height: 24px;
    padding-bottom: 3%;
}
#container-modulo_contact2 .division{
    margin-right: 27%;
    margin-left: 27%;

    border-bottom: 2px solid #000000;
}
#container-modulo_contact2 .encabezado{
    padding-left: 30%;
    padding-right: 30%;
}
#container-modulo_contact2 .labelcontacto{
    color: #a9a9a9;
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 10px;
    font-size: 11px;
    letter-spacing: 1px;
}
#container-modulo_contact2 .textnormal{
    color: #94939b ;
    text-transform: none;
    font-size: 12px;
    line-height: 24px;
    margin-top: -2px;
    font-family: 'Montserrat', sans-serif;
}
#container-modulo_contact2 .check{
line-height: 15px;
}
#container-modulo_contact2 .inputrounded{
    border-radius: 5px;
    border: 0;
    height: 35px;
    width: 100%;
    padding-left: 20px;
    background-color: #fbfbfb;
}
#container-modulo_contact2 textarea{
    border-radius: 5px;
    border: 0;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    min-height: 100px;
    background-color: #eff0f4;
}
#container-modulo_contact2 .checkbox input{
    background-color: transparent!important;
}
#container-modulo_contact2 .formulariocontacto{
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 5%;
    background-color: #f1e7ed;
    height: 100%;
    border-radius: 10px;
}
#container-modulo_contact2 .cajaformulario{
   padding: 7% 6% 2% 2%;
}
#container-modulo_contact2 .tituloformulario{
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 8%;
    padding-top: 8%;
}
#container-modulo_contact2 .enviarformcontacto{
    border-radius: 5px;
    border: 0;
    height: 40px;
    width: 100%;
    background-color: #99a29e;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;

}
#container-modulo_contact2 .transparencia {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 850px;
    padding-bottom: 6%;
}
@media (max-width: 260px){
    #container-modulo_contact2 .cajaformulario{
        padding: 7% 2% 2% 2%;
    }
    #container-modulo_contact2 .enviarformcontacto{
        margin-top: 0;
    }
    #container-modulo_contact2 .tituloformulario{
        font-size: 35px;
    }
    #container-modulo_contact2 .enviarformcontacto{
        height: 40px;
        width: 100%;
        font-size: 13px;
        letter-spacing: 1px;
    }
    #container-modulo_contact2 .titulo{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 3%;
    }
    #container-modulo_contact2 .subtitulo{
        font-size: 11px;
        letter-spacing: 1px;
        margin-bottom: -20px;
        padding-top: 5%;
    }
    #container-modulo_contact2 .parrafo{
        font-size: 12px;
        line-height: 24px;
        padding-bottom: 3%;
        margin-right: 0;
        margin-left: 0;
    }
    #container-modulo_contact2 .tituloformulario{
        font-size: 20px;
    }
}
@media (max-width: 364px) and (min-width: 261px){
    #container-modulo_contact2 .cajaformulario{
        padding: 7% 2% 2% 2%;
    }
    #container-modulo_contact2 .enviarformcontacto{
        margin-top: 0;
    }
    #container-modulo_contact2 .tituloformulario{
        font-size: 35px;
    }
    #container-modulo_contact2 .enviarformcontacto{
        height: 40px;
        width: 100%;
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    #container-modulo_contact2 .titulo{
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 3%;
    }
    #container-modulo_contact2 .subtitulo{
        font-size: 11px;
        letter-spacing: 1px;
        margin-bottom: -20px;
        padding-top: 5%;
    }
    #container-modulo_contact2 .parrafo{
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 3%;
    }
    #container-modulo_contact2 .tituloformulario{
        font-size: 30px;
    }
}
@media (max-width: 768px) and (min-width: 365px){

    #container-modulo_contact2 .cajaformulario{
        padding: 7% 2% 2% 2%;
    }
    #container-modulo_contact2 .enviarformcontacto{
        margin-top: 0;
    }
    #container-modulo_contact2 .tituloformulario{
        font-size: 35px;
    }
    #container-modulo_contact2 .enviarformcontacto{
        height: 40px;
        width: 100%;
        font-size: 13px;
        letter-spacing: 1px;
    }
    #container-modulo_contact2 .titulo{
        font-size: 35px;
        padding-bottom: 3%;
    }
    #container-modulo_contact2 .subtitulo{
        font-size: 11px;
        letter-spacing: 1px;
        margin-bottom: -20px;
        padding-top: 5%;
    }
    #container-modulo_contact2 .parrafo{
        font-size: 14px;
        text-align: center;
        white-space: pre-line;
        line-height: 24px;
        padding-bottom: 3%;
    }
    #container-modulo_contact2 .tituloformulario{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 8%;
        padding-top: 8%;
    }
}
@media (max-width: 941px) and (min-width: 769px){

    #container-modulo_contact2 .cajaformulario{
        padding: 7% 4% 2% 4%;
    }
}